th{
    padding-left: 30px;
}

.gebruikers {
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;
}
.gebruikers th {
    border:1px solid #C0C0C0;
    padding:5px;
    background: #F2E17D;
}.gebruikers td {
     border:1px solid #C0C0C0;
     padding:5px;
 }